<ion-header class="bg-white shadow-md">
  <ion-toolbar>
    <div class="flex justify-end items-center px-4">
      <img src="../assets/avialb.png" style="max-width: 40px; max-height: 40px;">
      <ion-searchbar [debounce]="1000" class="flex-grow max-w-md"></ion-searchbar>
      <ion-avatar (click)="goToSettings()" class="ml-4 w-10 h-10 flex-shrink-0">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" class="rounded-full w-full h-full object-cover">
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-header>
